<mat-card class="w-100">
    <mat-card-content>
      <br>
      <div class="d-flex justify-content-end">
        <a id="add-btn" (click)="addPhone()">+ Add Phone</a>
      </div>

      <br>
      <mat-progress-bar *ngIf="isFetching" mode="indeterminate"></mat-progress-bar>
      <ag-grid-angular
        class="ag-theme-quartz"
        style="height: 650px"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [pagination]="true"
        [paginationPageSize]="20"
      />
    </mat-card-content>
  </mat-card>