<mat-card class="w-100">
    <mat-card-content>
      <div class="d-flex justify-content-end">
        <input type="text" name="" id="search" placeholder="Seach ..." (keyup)="search($event)">
        <a id="add-btn" (click)="addPhone()">+ Add Phone</a>
      </div>

      <br>
      <mat-progress-bar *ngIf="isFetching" mode="indeterminate"></mat-progress-bar>
  
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
  
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell class="fw-medium" *matCellDef="let phone"> {{ dataSource.filteredData.indexOf(phone) + 1 }} </td>
          </ng-container>

          <!-- Phone Column -->
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let phone">
              <p class="mb-0 fw-medium">{{ phone.stockImei }}</p>
              <p class="mb-0 fw-medium op-5">{{ phone.stockMemory }}</p>
            </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let phone">
             <p class="mb-0 fw-medium">{{ phone.stockStatusEntity.statusName.toUpperCase() }}</p>              
            </td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let phone">
              <p class="mb-0 fw-medium"><span class="op-5">Buying: </span>{{ phone.stockBaseCurrency + ' ' + phone.stockBuyingPrice }}</p>
              <p class="mb-0 fw-medium"><span class="op-5">Selling: </span>{{ phone.stockBaseCurrency + ' ' + phone.stockSellingPrice }}</p>
            </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let phone">
             <p class="mb-0 fw-medium">{{ transformDate(phone.stockCreatedOn) }}</p>              
            </td>
          </ng-container>

           <!-- Branch Column -->
          <ng-container matColumnDef="branch">
            <th mat-header-cell *matHeaderCellDef> Branch </th>
            <td mat-cell *matCellDef="let phone">
             <p class="mb-0 fw-medium">{{ getBranch(phone.stockBranchCode) }}</p>    
             <p class="mb-0 fw-medium op-5">{{ getCountry(phone.stockCountryCode) }}</p>            
            </td>
          </ng-container>
  
          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let phone">
              <div class="action">
                <a class="edit" (click)="editPhone(phone, 'Edit Phone')" *ngIf="phone.stockStatusEntity.statusName.toLowerCase().includes('pending price') || phone.stockStatusEntity.statusName.toLowerCase().includes('available')">Edit</a>
                <a class="edit" (click)="editPhone(phone, 'Post Sale')" *ngIf="phone.stockStatusEntity.statusName.toLowerCase().includes('available')">Post</a>
            </div>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 25]" showFirstLastButtons aria-label="Select page"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>