<mat-card class="w-100">
    <mat-card-content><br>
      <div id="top">
        <p>Total Count: <b>{{ totalPhonesAvailableForSale }}</b></p>
        <a id="add-btn" class="btn" *ngIf="
          (user.roleModel.roleName.toLowerCase().includes('director') ||
          user.roleModel.roleName.toLowerCase().includes('admin'))"  
          (click)="onBtnExport()">Export</a>
      </div>

      <br>
      <mat-progress-bar *ngIf="isFetching" mode="indeterminate"></mat-progress-bar>
      <ag-grid-angular
        class="ag-theme-quartz"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [pagination]="true"
        [paginationPageSize]="10"
        [paginationPageSizeSelector]="[10,20,50,100]"
        [gridOptions]="{domLayout: 'autoHeight'}"
        (gridReady)="onGridReady($event)"
      />
    </mat-card-content>
  </mat-card>