<mat-card class="w-100">
    <mat-card-content>

      <div class="d-flex justify-content-end">
        <a id="add-btn" (click)="addCountry()">+ Add Country</a>
      </div>

      <br>
      <mat-progress-bar *ngIf="isFetching" mode="indeterminate"></mat-progress-bar>
  
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
  
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell class="fw-medium" *matCellDef="let country"> {{ dataSource.filteredData.indexOf(country) + 1 }} </td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="countryName">
            <th mat-header-cell *matHeaderCellDef> Country Name </th>
            <td mat-cell *matCellDef="let country">
              <p class="mb-0 fw-medium">{{ country.countryName }}</p>
              <p class="mb-0 fw-medium op-5">{{ country.countryCountryCode }}</p>
            </td>
          </ng-container>

          <!-- Currency Column -->
          <ng-container matColumnDef="countryCurrencyCode">
            <th mat-header-cell *matHeaderCellDef> Currency </th>
            <td mat-cell *matCellDef="let country">
              <p class="mb-0 fw-medium">{{ country.countryShortDesc }}</p>
              <p class="mb-0 fw-medium op-5">{{ country.countryCurrencyCode }}</p>
            </td>
          </ng-container>
  
          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let country">
              <div class="action">
                <a class="edit" (click)="editCountry(country)">Edit</a>
                <!-- <a class="delete" (click)="deleteCountry(country)">Delete</a> -->
            </div>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 25]" showFirstLastButtons aria-label="Select page"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>