<main>
    <h1 mat-dialog-title>{{ data.title }}</h1>
    <div id="form" mat-dialog-content>
        <div class="mt-20" *ngIf="successMessage || errorMessage">
          <div *ngIf="errorMessage" class="alert alert-danger alert-text-danger d-flex fs-14 align-items-center rounded mb-16" role="alert">
            <i-feather name="alert-circle" class="text-danger feather-base me-12"></i-feather>
            {{ errorMessage }}
          </div>
          <div *ngIf="successMessage" class="alert alert-success alert-text-success d-flex fs-14 align-items-center rounded mb-16" role="alert">
            <i-feather name="alert-circle" class="text-success feather-base me-12"></i-feather>
            {{ successMessage }}
          </div>
        </div>

        <div class="mt-20" *ngIf="!successMessage">            

            <div *ngIf="data.title == 'Edit Phone'">

              <mat-form-field class="me-24 fs-16" appearance="outline">
                <mat-label>IMEI</mat-label>
                <input  type="text" matInput [(ngModel)]="data.phone.stockImei" maxlength="15" (keyup)="checkInput(data.phone.stockImei)" readonly>
              </mat-form-field>

              <!-- <mat-form-field class="me-24 fs-16" appearance="outline" *ngIf="!userAssignedToBranch && user.roleModel.roleName.toLowerCase().includes('director')">
                <mat-label>Country</mat-label>
                <mat-select [(ngModel)]="data.phone.stockCountryCode" (selectionChange)="selectCountry()">
                  <mat-option *ngFor="let country of countries" [value]="country.code">
                    {{ country.countryName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="me-24 fs-16" appearance="outline" *ngIf="data.phone.stockCountryCode && !userAssignedToBranch && user.roleModel.roleName.toLowerCase() != 'regional manager'">
                  <mat-label>Region</mat-label>
                  <mat-select [(ngModel)]="data.phone.stockRegionCode" (selectionChange)="selectRegion()">
                    <mat-option *ngFor="let region of regions" [value]="region.code">
                      {{ region.regionName }}
                    </mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field class="me-24 fs-16" appearance="outline" *ngIf="data.phone.stockRegionCode && !userAssignedToBranch">
                  <mat-label>Branch</mat-label>
                  <mat-select [(ngModel)]="data.phone.stockBranchCode" (selectionChange)="getClusters(data.phone.stockBranchCode)">
                    <mat-option *ngFor="let branch of branches" [value]="branch.code">
                      {{ branch.name }}
                    </mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field class="me-24 fs-16" appearance="outline">
                <mat-label>Cluster</mat-label>
                <mat-select [(ngModel)]="data.phone.stockClusterCode">
                  <mat-option *ngFor="let cluster of clusters" [value]="cluster.code">
                    {{ cluster.clusterName }}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->

              <!-- <mat-form-field class="me-24 fs-16" appearance="outline" *ngIf="data.phone.stockRegionCode && data.phone.stockBranchCode">
                  <mat-label>Model</mat-label>
                  <mat-select [(ngModel)]="data.phone.stockMemory" (selectionChange)="selectModel()">
                    <mat-option *ngFor="let model of models" [value]="model.modelName">
                      {{ model.modelName }}
                    </mat-option>
                  </mat-select>
              </mat-form-field>

               <mat-form-field class="me-24 fs-16" appearance="outline" *ngIf="data.phone.stockMemory && batches.length > 0">
                <mat-label>Batch Number</mat-label>
                <mat-select [(ngModel)]="data.phone.stockBatchCode">
                    <mat-option *ngFor="let batch of batches" [value]="batch.code">
                      {{ batch.batchNo }}
                    </mat-option>
                  </mat-select>
              </mat-form-field> -->

              <mat-form-field class="me-24 fs-16" appearance="outline" *ngIf="data.phone.stockBatchCode">
                <mat-label>Stock Status</mat-label>
                <mat-select [(ngModel)]="data.phone.stockStatusCode">
                    <mat-option *ngFor="let status of stockStatuses" [value]="status.statusCode">
                      {{ status.statusShortDesc.toUpperCase() }}
                    </mat-option>
                  </mat-select>
              </mat-form-field>

            </div>

            <div *ngIf="data.title.toLowerCase().includes('transfer')">
              <mat-form-field class="me-24 fs-16" appearance="outline">
                <mat-label>Source Cluster</mat-label>
                <mat-select [(ngModel)]="data.phone.stockClusterCode">
                  <mat-option [value]="data.phone.stockClusterCode">
                    {{ data.phone.stockClusterName?.toUpperCase() }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="me-24 fs-16" appearance="outline">
                <mat-label>Destination Branch</mat-label>
                <mat-select [(ngModel)]="data.phone.newStockBranchCode" (selectionChange)="getClusters(data.phone.newStockBranchCode)">
                  <mat-option *ngFor="let branch of branches" [value]="branch.code">
                    {{ branch.name?.toUpperCase() }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="me-24 fs-16" appearance="outline" *ngIf="data.phone.newStockBranchCode">
                <mat-label>Destination Cluster</mat-label>
                <mat-select [(ngModel)]="data.phone.newStockClusterCode">
                  <mat-option *ngFor="let cluster of clusters" [value]="cluster.code">
                    {{ cluster.clusterName?.toUpperCase() }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div *ngIf="data.title === 'Post Sale'">

              <mat-form-field class="me-24 fs-16" appearance="outline">
                <mat-label>IMEI</mat-label>
                <input type="text" matInput [(ngModel)]="data.phone.stockImei" readonly>
              </mat-form-field>

              <mat-form-field class="me-24 fs-16" appearance="outline">
                  <mat-label>Model</mat-label>
                  <mat-select [(ngModel)]="data.phone.stockMemory">
                    <mat-option [value]="data.phone.stockMemory" selected disabled>
                      {{ data.phone.stockMemory }}
                    </mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field class="me-24 fs-16" appearance="outline">
                  <mat-label>Price ({{ data.phone.stockBaseCurrency }})</mat-label>
                  <input type="text" matInput [(ngModel)]="data.phone.stockSellingPrice" >
              </mat-form-field>

              <mat-form-field class="me-24 fs-16" appearance="outline">
                  <mat-label>Dealership</mat-label>
                  <mat-select [(ngModel)]="data.phone.tradingName">
                    <mat-option *ngFor="let dealer of data.dealers" [value]="dealer.dealerName">
                      {{ dealer.dealerName }}
                    </mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field class="me-24 fs-16" appearance="outline" *ngIf="data.phone.tradingName">
                <mat-label>Customer ID Number</mat-label>
                <input type="text" matInput [(ngModel)]="data.phone.customerNationalId">
              </mat-form-field>

              <mat-form-field class="me-24 fs-16" appearance="outline" *ngIf="data.phone.customerNationalId">
                <mat-label>Customer Name</mat-label>
                <input type="text" matInput [(ngModel)]="data.phone.customerName">
              </mat-form-field>

              <mat-form-field class="me-24 fs-16" appearance="outline" *ngIf="data.phone.customerName">
                <mat-label>Customer Phone number</mat-label>
                <input type="text" matInput [(ngModel)]="data.phone.customerPhoneNumber">
              </mat-form-field>

            </div>

            <div *ngIf="data.title === 'Complete Sale'">

              <mat-form-field class="me-24 fs-16" appearance="outline">
                <mat-label>Agent Name</mat-label>
                <input type="text" matInput [(ngModel)]="data.phone.agentName">
              </mat-form-field>

              <mat-form-field class="me-24 fs-16" appearance="outline">
                <mat-label>Agent Phone number</mat-label>
                <input type="text" matInput [(ngModel)]="data.phone.agentPhoneNumber">
              </mat-form-field>

            </div>

            <div *ngIf="data.title === 'Receipt'">
              <div *ngIf="fetchingReceipt">
                <mat-progress-spinner mode="indeterminate" diameter="25"></mat-progress-spinner> Fetching ...
              </div>
              <div *ngIf="!fetchingReceipt">
                <p class="fw-bold" style="text-align: center;">{{ receipt.receiptDealership }}</p>
                <p style="text-align: center;">{{ transformDate(receipt.receiptCreatedOn) }}</p>
                <p style="text-align: center;">Receipt No: <span class="fw-bold">{{ receipt.receiptNo }}</span></p>
                <hr>
                <div>
                  <table style="width: 100%;">
                    <tr>
                      <td>Customer Name</td>
                      <td style="text-align: right;">{{ receipt.receiptCustomerName }}</td>
                    </tr>
                    <tr>
                      <td>Phone No.</td>
                      <td style="text-align: right;">{{ receipt.receiptCustomerPhoneNo }}</td>
                    </tr>
                    <tr>
                      <td>ID No.</td>
                      <td style="text-align: right;">{{ receipt.receiptCustomerIdNo }}</td>
                    </tr>
                  </table>
                </div>
                <hr>
                <table>
                  <thead>
                    <tr>
                      <th>Item</th>
                      <th>Qty</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ receipt.receiptModel }}</td>
                      <td style="margin-left: 10px;">{{ receipt.receiStockQuantity  }}</td>
                      <td style="margin-left: 10px;">{{ receipt.receiptAmount  }}</td>
                    </tr>
                    <tr>
                      <td colspan="4">{{ receipt.receiStockImei  }}</td>
                    </tr>
                  </tbody>
                </table>
                <hr>
                <p class="d-flex"><span>Gross Total</span> <span class="fw-bold" style="margin-left: auto;">{{ data.phone.stockBaseCurrency + ' ' + receipt.receiptAmount }}</span></p>
                <p style="text-align: center; margin-top: 2px; margin-bottom: 0;"><em>Served by {{ receipt.receiptCreatedBy }}</em></p>
                <p style="text-align: center; margin-top: 0;"><em>Thank You</em></p>
              </div>
            </div>
            

        </div>
    </div>

    <div mat-dialog-actions align="center" *ngIf="data.title === 'Receipt'">
      <button id="cancel" mat-button (click)="onClose('posted')">Close</button>
    </div>
    <div mat-dialog-actions align="center" *ngIf="!successMessage && (data.title === 'Add Phone' || data.title === 'Edit Phone')">
        <button id="cancel" mat-button (click)="onClose()">Cancel</button>
        <button id="save" mat-button *ngIf="loading"><mat-progress-spinner mode="indeterminate" diameter="25"></mat-progress-spinner></button>
        <button id="save" mat-button disabled *ngIf="!loading && (!data.phone.stockImei || !data.phone.stockMemory || !data.phone.stockCountryCode || !data.phone.stockRegionCode || !data.phone.stockBranchCode || !data.phone.stockBatchCode)">Save</button>
        <button id="save" mat-button *ngIf="!loading && ((data.phone.stockImei && data.phone.stockMemory && data.phone.stockCountryCode && data.phone.stockRegionCode && data.phone.stockBranchCode && data.phone.stockBatchCode))" (click)="save()" cdkFocusInitial>Save</button>
    </div>
    <div mat-dialog-actions align="center" *ngIf="!successMessage && data.title === 'Post Sale'">
        <button id="cancel" mat-button (click)="onClose()">Cancel</button>
        <button id="save" mat-button *ngIf="loading"><mat-progress-spinner mode="indeterminate" diameter="25"></mat-progress-spinner></button>
        <button id="save" mat-button disabled *ngIf="!loading && (!data.phone.tradingName || !data.phone.customerName || !data.phone.customerPhoneNumber || !data.phone.customerNationalId)">Save</button>
        <button id="save" mat-button *ngIf="!loading && (data.phone.tradingName && data.phone.customerName && data.phone.customerPhoneNumber && data.phone.customerNationalId)" (click)="save()" cdkFocusInitial>Save</button>
    </div>
    <div mat-dialog-actions align="center" *ngIf="!successMessage && data.title === 'Complete Sale'">
        <button id="cancel" mat-button (click)="onClose()">Cancel</button>
        <button id="save" mat-button *ngIf="loading"><mat-progress-spinner mode="indeterminate" diameter="25"></mat-progress-spinner></button>
        <button id="save" mat-button disabled *ngIf="!loading && (!data.phone.agentName || !data.phone.agentPhoneNumber)">Save</button>
        <button id="save" mat-button *ngIf="!loading && ((data.phone.agentName && data.phone.agentPhoneNumber))" (click)="save()" cdkFocusInitial>Save</button>
    </div>
    <div mat-dialog-actions align="center" *ngIf="!successMessage && data.title.toLowerCase().includes('transfer')">
      <button id="cancel" mat-button (click)="onClose()">Cancel</button>
      <button id="save" mat-button *ngIf="loading"><mat-progress-spinner mode="indeterminate" diameter="25"></mat-progress-spinner></button>
      <button id="save" mat-button disabled *ngIf="!loading && (!data.phone.newStockBranchCode || !data.phone.newStockClusterCode)" cdkFocusInitial>Save</button>
      <button id="save" mat-button *ngIf="!loading && (data.phone.newStockBranchCode && data.phone.newStockClusterCode)" (click)="transfer()" cdkFocusInitial>Save</button>
  </div>
</main>