#search {
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
    background-color: #fafafa;
}

#add-btn {
    background-color: #03c9d7;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
}