#search {
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
    background-color: #fafafa;
}

.btn {
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
    min-width: 100px;
    text-align: center;
}

#add-btn {
    background-color: #03c9d7;
}

#delete-btn {
    background-color: #ff0000;
}