main {
    height: 100dvh;
    display: grid;
    place-items: center;
}


#logo {
    margin-bottom: 10px;
}

#logo img {
    width: 25px;
    width: 25px;
}

button {
    background-color: #03c9d7 !important;
    color: #fff !important;
}

button.is-loading ::ng-deep mat-progress-spinner circle {
    stroke: #fff;
}
