<mat-card class="w-100">
  <mat-card-content>
    <mat-progress-bar *ngIf="isFetching" mode="indeterminate"></mat-progress-bar
    ><br />
    <div
      class="d-flex justify-content-end"
      *ngIf="
        !isFetching &&
        (user.roleModel.roleName.toLowerCase().includes('director') ||
          user.roleModel.roleName.toLowerCase().includes('admin'))
      "
    >
      <a id="add-btn">Export Data</a>
    </div>
    <br />
    <ag-grid-angular
      class="ag-theme-quartz"
      style="height: 500px"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      [pagination]="true"
      [paginationPageSize]="20"
    />
  </mat-card-content>
</mat-card>
