#search {
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
    background-color: #fafafa;
}

#add-btn {
    background-color: #03c9d7;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.action a {
    margin-right: 10px;
    cursor: pointer;
}

.action .edit {
    color: #00c292;
}

.action .delete {
    color: #e46a76;
}
