.input {
    border-radius: 4px;
    padding: 10px;
    margin-right: 5px;
    background-color: #f2f3f4;
    border: 1px solid #f2f3f4;
}

input[type="button"] {
    background-color: #03c9d7;
    color: #fff;
    cursor: pointer;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.form-input label {
    // color: #03c9d7;
    font-size: small;
}

#top {
    display: flex;
    justify-content: space-between;
}

#top p {
    margin-top: auto;
    margin-bottom: 0;
}

#top #left {
    display: flex;
    align-items: end;
}

#add-btn {
    background-color: #03c9d7;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

#export-btn {
    cursor: pointer;
}

.action a {
    margin-right: 10px;
    cursor: pointer;
}

.action .edit {
    color: #00c292;
}

.action .delete {
    color: #e46a76;
}
