main {
    min-width: 400px;
}

div#form {
    max-width: 400px;
}

main > div {
    border-top: 1px solid #e0e0e0;
}

#form {
    padding-top: 0;
    padding-bottom: 0;
}   

button {
    width: 120px;
    border: 1px solid #03c9d7;
}

#cancel {
    background-color: #fff;
    color: #03c9d7;
}

#save {
    background-color: #03c9d7;
    color: #fff;
}

div#batch-details {
    padding: 10px;
}

table {
    width: 100%;
    padding: 10px;
}


table td:first-child {
    color: #979797;
}

table td:last-child, th:last-child {
    padding-left: 5px;
    text-align: right;
}

td.stock-link:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

h5 {
    display: flex;
    justify-content: space-between;
    font-weight: lighter;
}

span#loading {
    position: relative;
}
  
span#loading::after {
    content: '...';
    position: absolute;
    width: 0;
    overflow: hidden;
    animation: ellipsis 3s infinite;
}

@keyframes ellipsis {
    0% { width: 0; }
    33% { width: 1ch; }
    66% { width: 2ch; }
    100% { width: 3ch; }
}
  
#search {
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
    background-color: #fafafa;
}