.input {
    border-radius: 4px;
    padding: 10px;
    margin-right: 5px;
    background-color: #f2f3f4;
    border: 1px solid #f2f3f4;
}

.btn {
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
    min-width: 120px;
    text-align: center;
}

#add-btn {
    background-color: #03c9d7;
}

.action a {
    margin-right: 10px;
    cursor: pointer;
}

.action a:hover {
    text-decoration: underline;
}

.action .edit {
    color: #00c292;
}

.action .delete {
    color: #e46a76;
}
