/* You can add global styles to this file, and also import other style files */

body {
    background-color: #fafafa;
}

button {
    width: 100%;
    min-height: 56px;
    font-size: 16px;
}

mat-progress-spinner circle {
    stroke: #fafafa;
}